<li>
	{{name}}

		{{#if sleep}}
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		Devour!
	</button>
{{/if}}
	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
